<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

	<div>
		<h2>home</h2>
		<a href="/home/hello"     target="_self">hello   </a> <br/>
	</div>

	<div>
		<h2>login</h2>
		<a href="/login/"    target="_self">login/get    </a> <br/>
		<a href="/login/"    target="_self">login/post   </a> <br/>
	</div>

	<div>
		<h2>book</h2>
		<a href="/book/list"     target="_self">list 페이지   </a> <br/>
		<a href="/book/insert"   target="_self">insert 페이지 </a> <br/>
		<a href="/book/edit/1"   target="_self">edit 페이지   </a> <br/>
		<a href="/book/delete/1" target="_self">delete 페이지 </a> <br/>
	</div>

	<div>
		<h2>phone</h2>
		<a href="/phone/writeone"     target="_self">phone write one  </a> <br/>
		<a href="/phone/writelist"    target="_self">phone write list </a> <br/>
	</div>

<hr>

</body>
</html>
