<!DOCTYPE html>
<html>
<head>
    <title>Insert Page</title>
    <meta charset="UTF-8">
    <style></style>
    
</head>
<body>
    <h1>Insert Page</h1>
    <hr />
    <form method="post" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <legend>INSERT DATA</legend>
        <table>
            <tr>
                <td><label>Title<label></td>
                <td><input type="text" name="title" /></td>
            </tr>
            <tr>
                <td><label>Publisher<label></td>
                <td><input type="text" name="publisher" /></td>
            </tr>
            <tr>
                <td><label>Year<label></td>
                <td><input type="text" name="year" /></td>
            </tr>
            <tr>
                <td><label>Price<label></td>
                <td><input type="text" name="price" /></td>
            </tr>
            <tr>
                <td><label>dtm<label></td>
                <td><input type="text" name="dtm" /></td>
            </tr>
            <tr>
                <td><label>use_yn<label></td>
                <td><input type="checkbox" name="use_yn" /></td>
            </tr>
            <tr>
                <td><label>authid<label></td>
                <td><input type="text" name="authid" /></td>
            </tr>
        </table>
        <input type="submit" />
    </fieldset>
    </form>
</body>
</html>

